
@model Abeced.UI.Models.FlashCardModel
 @using (Ajax.BeginForm("AddCard", "Admin",
            new AjaxOptions
            {
                HttpMethod = "Post",
                UpdateTargetId = "targetDivMsg",
                OnSuccess = "OnSuccessMsg",
                OnFailure = "OnFailureMsg",
                InsertionMode = InsertionMode.Replace
            },
            new
            {
                enctype = "multipart/form-data",
                @id = "submitformC"
            }))
 {
    @Html.ValidationSummary(true)

    <div style="text-align: center">
        <table width="100%" cellspacing="0" style="margin: 0 auto; text-align: left">
            <tr>
                <td colspan="3" style="text-align: center" valign="middle">

                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <table cellpadding="10" cellspacing="10" style="border-radius: 5px 5px 5px 5px; border: 1px solid #CCCCCC;
                        margin-top: 5px">
                        <tr align="left">
                            <td colspan="2">
                                <span style="font-weight: bold">All (*) are Mandatory Fields.</span> 
                                <br /><br />
                                <span style="font-weight: bold">Only image (JPEG, PNG, GIF)  and audio (MP3) media files can be uploaded.</span> 
                            </td>
                        </tr>
                        <tr align="left">
                            <td colspan="2">
                                <hr style="color: #77BACE; margin: -2px 0 -8px 0;" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" valign="middle">
                                <table cellpadding="2" cellspacing="5" style="width: 640px; border: none; margin-left: 0px">
                                    <tbody style="border: 0px">
                                        <tr>
                                            <td style="text-align: right; width: 280px; color: #1B548D; font-weight: bold" valign="top">
                                                * Course Category
                                            </td>
                                            <td>
                                                    <div id="dropDownTreeView" style="width:265px">
                                                    </div>
                                                    <input type="hidden" id="ParentId" name="ParentId" />
                                                    <input type="hidden" id="CatLevel" name="CatLevel" />

                                                <span id="result" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" style="margin-left:0px">
                                                    <span class="k-icon k-warning"> </span>
                                                </span>
                                                <br />
                                           
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="text-align: right; width: 280px; color: #1B548D; font-weight: bold" valign="top">
                                                * Course Title 
                                            </td>
                                            <td>
                                            @(Html.Kendo().ComboBoxFor(m => m.SubjectArea)
.Name("SubjectArea")
.Placeholder("Select the Course/Flash Title ...")
.DataTextField("sctitle")
.DataValueField("scatid")
          .DataSource(source =>
          {
              source.Read(read =>
              {
                  read.Action("GetSubjectList", "Admin")
                      .Data("filterSubArea");
              })
              .ServerFiltering(true);
          })
.HtmlAttributes(new { @style = "width:300px;", @validationMessage = "The Course Title / Subject is Required"})
        .Events(e =>
        {
            //e.Change("supselectchange");
            //e.Select("suptypeselectCo");
            // e.Close("suptypecloseCo");
        })
        .Suggest(true)
        .Enable(false)
//.AutoBind(false)
//.CascadeFrom("dropDownTreeView")
.HtmlAttributes(new { @style = "width:280px; height:25px" })
    )
      
                                                @*<script type="text/javascript">
    $(function () {
        var input = $("#SubjectArea"),
                            combobox = input.data("kendoComboBox"),
                            validator = input.closest("form").kendoValidator().data("kendoValidator");
        combobox.input.bind({
            focusout: function () {
                setTimeout(function () {
                    //  window.validator.validateInput(input);
                    validator.validateInput(input);
                }, 100);
            }
        });
    });
    </script>*@
          
                    <br />
                    &nbsp; @(Html.ValidationMessageFor(model => model.SubjectArea))
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="text-align: right; width: 280px; color: #1B548D; font-weight: bold" valign="top">
                                                * Question
                                            </td>
                                            <td>
                                                <div class="uploadclass">
                                                    @Html.TextAreaFor(m => m.Question, new { @style = "width: 420px;height:40px;border: 1px solid #77BACE;" })
                                                    
                                                    <div class="records" style="margin-top:5px; margin-bottom:5px">
                                                    <button class="k-button" onclick="startRecording(this);" style="width: 150px;
                                                    font-weight: bold; font-size: 12px;">
                                                        Record
                                                    </button>

                                                    <button class="k-button" onclick="stopRecording(this);"  disabled style="width: 150px;
                                                    font-weight: bold; font-size: 12px;">
                                                        Stop Recording
                                                    </button>

                                                        <audio></audio>
                                                        <ul id="recordingslist"></ul>
                                                        
                                                      
                                                        
                                                    </div>
                                                    

                                                    @(Html.Kendo().Upload()
                                                    .Name("Quesfiles")
                                                    .Events(events => events
                                                    .Select("onSelectLimitFile")

                                                    )

                                                    
                                                    //.HtmlAttributes(new { accept = "image/png,image/jpeg,image/gif" })
                                                    .HtmlAttributes(new { accept = "image/*, audio/mp3, audio/wav" })
                                                    )


                                                   
                                                </div>
                                               


                                                @Html.ValidationMessageFor(m => m.Question)
                                                
                                            </td>
                                            
                                        </tr>
                                        
                                        <tr>
                                            <td style="text-align: right; width: 280px; color: #1B548D; font-weight: bold" valign="top">
                                                * Answer</td>
                                            <td>
                                                <div class="uploadclass">
                                                    @Html.TextAreaFor(m => m.Answer, new { @style = "width: 420px;height:40px;border: 1px solid #77BACE;" })
                                                    
                                                    <div class="records" style="margin-top:5px; margin-bottom:5px">
                                                        <button class="k-button" onclick="startRecording2(this);" style="width: 150px;
                                                    font-weight: bold; font-size: 12px;">
                                                            Record
                                                        </button>

                                                        <button class="k-button" onclick="stopRecording2(this);" disabled style="width: 150px;
                                                    font-weight: bold; font-size: 12px;">
                                                            Stop Recording
                                                        </button>

                                                        <audio></audio>
                                                        <ul id="recordingslist2"></ul>

                                                            </div>

                                                    

                                                    @(Html.Kendo().Upload()
                                                        .Name("Ansfiles")
                                                        .Events(events => events
                                                        .Select("onSelectLimitFile")

                                                        )
                                                        .HtmlAttributes(new { accept = "image/*, audio/mp3, audio/wav" })

                                                    )
                                                </div>

                                                @Html.ValidationMessageFor(m => m.Answer)
                                                </td>
                                        </tr>
                                        <hr>
                                        <tr>
                                            <td style="text-align: right; width: 280px; color: #1B548D; font-weight: bold" valign="top">
                                                * Fact Sheet
                                            </td>
                                            <td>
                                               @* @(Html.Kendo().EditorFor(m => m.MsgText).Encode(true)  
                                                  .HtmlAttributes(new { style = "width: 600px;height:300px" })                                                
                                            )*@
                                                <div class="uploadclass">
                                                        @Html.TextAreaFor(m => m.FactSheet, new { @style = "width: 420px;height:80px;border: 1px solid #77BACE;" })
                                                       
                                                    <div class="records" style="margin-top:5px; margin-bottom:5px">
                                                        <button class="k-button" onclick="startRecording3(this);" style="width: 150px;
                                                    font-weight: bold; font-size: 12px;">
                                                            Record
                                                        </button>

                                                        <button class="k-button" onclick="stopRecording3(this);" disabled style="width: 150px;
                                                    font-weight: bold; font-size: 12px;">
                                                            Stop Recording
                                                        </button>

                                                        <audio></audio>
                                                        <ul id="recordingslist3"></ul>


                                                    </div>
                                                    
                                                    @(Html.Kendo().Upload()
                                                        .Name("Factfiles")
                                                        .Events(events => events
                                                        .Select("onSelectLimitFile")

                                                        )
                                                        .HtmlAttributes(new { accept = "image/*, audio/mp3, audio/wav" })

                                                        )
                                                    </div>
                                                    @Html.ValidationMessageFor(m => m.FactSheet)

</td>
                                        </tr>
                                        <hr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr align="left">
               
                <td align="center" colspan="2">
                    <div id="targetDivMsg" class="rssedMsg">
                    </div>
                </td>
            </tr>
            <tr align="left">
                <td align="left" style="padding-bottom: 10px">
                    <label for="name" style="color: Black">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                </td>
                <td align="center" style="padding-bottom: 12px">
                    <hr />
                    <button class="k-button" id="btnSubmitMsg" name="btnSubmitMsg" type="submit" style="width: 150px;
                        font-weight: bold; font-size: 12px;">
                        Save
                    </button>
                    <button id="btnAddAnotherCard" type="reset" name="btnAddAnotherCard" class="k-button"
                    style="width: 150px">
                    Add Another</button>

                    <button class="k-button" id="btnCloseMsg" name="btnCloseMsg" style="width: 150px;
                        font-weight: bold; font-size: 12px">
                        Close</button>
                </td>
            </tr>
        </table>
    </div>

 }

<script type="text/javascript">
    $("#result").hide();

    $("#Quesfiles").closest(".k-upload").find("span").text("Upload media").parent().css({ width: 160 })
    $("#Ansfiles").closest(".k-upload").find("span").text("Upload media").parent().css({ width: 160 });
    $("#Factfiles").closest(".k-upload").find("span").text("Upload media").parent().css({ width: 160 });

    $("#btnAddAnotherCard").hide();

    $("#btnCloseMsg").click(function (e) {
        e.preventDefault();

        $(".k-window-content").each(function () {
            $(this).data("kendoWindow").close();
        });
    });

    

    $("#btnAddAnotherCard").click(function () {
        $('#btnSubmitMsg').show();
        $('#targetDivMsg').empty();
        $("#btnAddAnotherCard").hide();

    });

    $("#submitformC").kendoValidator({
        rules: {
            //implement custom validation here      
        },
    });

    //workaround to post images
    $(function () {
        $("#submitformC").submit(function (event) {
            var dataString;
            event.preventDefault();
            event.stopPropagation();
            if ($("#ParentId").val() == "") {
                $("#result").text("Select Course/Card Category");
                $("#result").show();
                return false;
            }
            var action = $("#submitformC").attr("action");
            if ($("#submitformC").attr("enctype") == "multipart/form-data") {
                //this only works in some browsers.
                //purpose? to submit files over ajax. because screw iframes.
                //also, we need to call .get(0) on the jQuery element to turn it into a regular DOM element so that FormData can use it.
                dataString = new FormData($("#submitformC").get(0));
                contentType = false;
                processData = false;
            } else {
                // regular form, do your own thing if you need it
            }
            $.ajax({
                type: "POST",
                url: action,
                data: dataString,
                dataType: "json", //change to your own, else read my note above on enabling the JsonValueProviderFactory in MVC
                contentType: contentType,
                processData: processData,
                success: function (rtnmsgg) {
                    //BTW, data is one of the worst names you can make for a variable
                    OnSuccessMsgg(rtnmsgg);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //do your own thing
                    alert("fail");
                }
            });
        }); //end .submit()
    });

    function OnSuccessMsgg(ajaxContext) {
        $('#targetDivMsg').empty();
        var response = ajaxContext.rtnmsg;
        var smsg = ajaxContext.msg;
        if (response == "success") {
            $('<span class="alert alert-success" style="display: block;font-size: 120%"><b>Success : Flash Card Saved Successfully. </b> </span>').appendTo('.rssedMsg');
            $("#btnSubmitMsg").hide();
            $("#btnAddAnotherCard").show();
            var grid = $("#FlashCards").data("kendoGrid");
            grid.dataSource.read();
            grid.refresh();

        }
        else if (response == "fail") {
            $('<span class="alert alert-error" style="display: block;font-size: 120%"><b>Error: Unable to Save. Please try Again</b> </span>').appendTo('.rssedMsg');
        }
        else {
            $('<span class="alert alert-error" style="display: block;font-size: 120%"><b>Unknown Error: Please try Again</b> </span>').appendTo('.rssedMsg');
        }
    }

</script>

<script>
    homogeneous = new kendo.data.HierarchicalDataSource({
        transport: {
            read: {
                url: "/Admin/GetCategoryListH",
                dataType: "json"
            }
        },
        schema: {
            model: {
                id: "Id",
                hasChildren: "HasChildren",
                children: "Children"
            }
        }
    });

    var dropDownTreeView = $("#dropDownTreeView").kendoExtDropDownTreeView({
        treeview: {
           dataSource: homogeneous,
           dataTextField: "Name",
           dataValueField: "Id",
           select: onSelect4Facts,
        }
    }).data("kendoExtDropDownTreeView");

    dropDownTreeView.bind("select", function (e) {
        $("#userSelection").prepend(kendo.format("<div>You Selected: {0}</div>", $(e.node).children("div").text()));
    });

    $("#dropDownTreeView .k-dropdown-wrap.k-state-default").prop("style", "width:250px");
    $(".k-treeview.k-custom-visible").width("200")
        //prop("style", "z-index: 1; width: 250px; border: 1px solid grey; position: absolute; background-color: rgb(255, 255, 255); top: 130.717px; left: 229.217px");

</script>
