@model Abeced.UI.Models.FlashCardModel
@using (Ajax.BeginForm("EditCard", "Users",
            new AjaxOptions
            {
                HttpMethod = "Post",
                UpdateTargetId = "targetDivMsg",
                OnSuccess = "OnSuccessMsg",
                OnFailure = "OnFailureMsg",
                InsertionMode = InsertionMode.Replace
            },
            new
            {
                @id = "submitformMsg"
            }))
{
    @Html.ValidationSummary(true)

    <div style="text-align: center">
        <table width="100%" cellspacing="0" style="margin: 0 auto; text-align: left">
            <tr>
                <td colspan="3" style="text-align: center" valign="middle">

                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <table cellpadding="10" cellspacing="10" style="border-radius: 5px 5px 5px 5px; border: 1px solid #CCCCCC;
                        margin-top: 5px">
                        <tr align="left">
                            <td colspan="2">
                                <span style="font-weight: bold">All (*) are Mandatory Fields.</span>
                            </td>
                        </tr>
                        <tr align="left">
                            <td colspan="2">
                                <hr style="color: #77BACE; margin: -5px 0 -10px 0;" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" valign="middle">
                                <table cellpadding="2" cellspacing="2" style="width: 640px; border: none; margin-left: 0px">
                                    <tbody style="border: 0px">
                                    
                                        <tr>
                                            <td style="text-align: right; width: 280px; color: #1B548D; font-weight: bold" valign="top">
                                                * Question
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m.Question, new { @style = "border: 1px solid #77BACE;width:520px" })
                                                @Html.ValidationMessageFor(m => m.Question)
                                                @Html.HiddenFor(m => m.CardId)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right; width: 280px; color: #1B548D; font-weight: bold" valign="top">
                                                * Answer</td>
                                            <td>
                                                @Html.TextBoxFor(m => m.Answer, new { @style = "border: 1px solid #77BACE;width:520px" })
                                                @Html.ValidationMessageFor(m => m.Answer)
                                                </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right; width: 280px; color: #1B548D; font-weight: bold" valign="top">
                                                * Fact Sheet
                                            </td>
                                            <td>
                                               @* @(Html.Kendo().EditorFor(m => m.MsgText).Encode(true)  
                                                  .HtmlAttributes(new { style = "width: 600px;height:300px" })                                                
                                            )*@
                                            @Html.TextAreaFor(m => m.FactSheet, new { @style = "width: 520px;height:100px;border: 1px solid #77BACE;" })
                                               
                                               @Html.ValidationMessageFor(m => m.FactSheet)
                                               
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right; width: 280px; color: #1B548D; font-weight: bold" valign="top">
                                                Multimedia</td>
                                            <td>
                                                &nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr align="left">
               
                <td align="center" colspan="2">
                    <div id="targetDivMsg" class="rssedMsg">
                    </div>
                </td>
            </tr>
            <tr align="left">
                <td align="left" style="padding-bottom: 10px">
                    <label for="name" style="color: Black">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                </td>
                <td align="center" style="padding-bottom: 12px">
                    <hr />
                    <button class="k-button" id="btnSubmitMsg" name="btnSubmitMsg" type="submit" style="width: 150px;
                        font-weight: bold; font-size: 12px;">
                        Save
                    </button>

                    <button class="k-button" id="btnCloseMsg" name="btnCloseMsg" style="width: 150px;
                        font-weight: bold; font-size: 12px">
                        Close</button>
                </td>
            </tr>
        </table>
    </div>

}
<script type="text/javascript">
    $("#btnCloseMsg").click(function () {
        $(".k-window-content").each(function () {
            $(this).data("kendoWindow").close();
        });
    });

</script>
