@model Abeced.UI.Models.LoginModel
@{
    ViewBag.Title = "Password Reset";
}
<style>
    .form-horizontal .control-group
    {
        /*border-bottom: 1px solid #EEEEEE;*/ /*border-top: 1px solid #FFFFFF;*/
        margin-bottom: 0;
    }
    
    #login
    {
        background-color: #fff;
    }
    .rounded-corners
    {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
    }
    h1
    {
        font-family: 'Raleway' , Helvetica, Arial, sans-serif;
        font-size: 40px;
        line-height: 70px;
    }
    
    p
    {
        font-family: 'Goudy Bookletter 1911' , Georgia, Times, serif;
        font-size: 15px;
        line-height: 25px;
    }
    .btn-custom
    {
        background-color: hsl(160, 40%, 66%) !important;
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0f8f6", endColorstr="#85cab3");
        background-image: -khtml-gradient(linear, left top, left bottom, from(#f0f8f6), to(#85cab3));
        background-image: -moz-linear-gradient(top, #f0f8f6, #85cab3);
        background-image: -ms-linear-gradient(top, #f0f8f6, #85cab3);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f8f6), color-stop(100%, #85cab3));
        background-image: -webkit-linear-gradient(top, #f0f8f6, #85cab3);
        background-image: -o-linear-gradient(top, #f0f8f6, #85cab3);
        background-image: linear-gradient(#f0f8f6, #85cab3);
        border-color: #85cab3 #85cab3 hsl(160, 40%, 58.5%);
        color: #333 !important;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.49);
        -webkit-font-smoothing: antialiased;
    }
    
    .btn-custom2
    {
        background-color: hsl(193, 32%, 72%) !important;
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8fafb", endColorstr="#a0c4ce");
        background-image: -khtml-gradient(linear, left top, left bottom, from(#f8fafb), to(#a0c4ce));
        background-image: -moz-linear-gradient(top, #f8fafb, #a0c4ce);
        background-image: -ms-linear-gradient(top, #f8fafb, #a0c4ce);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8fafb), color-stop(100%, #a0c4ce));
        background-image: -webkit-linear-gradient(top, #f8fafb, #a0c4ce);
        background-image: -o-linear-gradient(top, #f8fafb, #a0c4ce);
        background-image: linear-gradient(#f8fafb, #a0c4ce);
        border-color: #a0c4ce #a0c4ce hsl(193, 32%, 65.5%);
        color: #333 !important;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.42);
        -webkit-font-smoothing: antialiased;
    }
</style>

@using (Ajax.BeginForm("PasswordReset", "Account",
            new AjaxOptions
            {
                HttpMethod = "POST",
                //UpdateTargetId = "targetDivlogon",
                OnSuccess = "OnSuccesslogon",
                OnFailure = "OnFailurelogon",
                InsertionMode = InsertionMode.Replace

            },
            new
            {
                @id = "submitFormm",
                @class = "form-horizontal"
            }))
{
    @Html.AntiForgeryToken()
@*@using (Html.BeginForm())   {*@
    <br />
    <br />
    <div id="login" class="rounded-corners" style="border: 1px solid #2F5469">
        <div style="text-align: center">
            <h1 style="font-size: 30px; color: #0B4975">
                Password Reset</h1>
        </div>
        <div id="targetDivReg" class="rssedReg" style="padding-right: 20px; padding-left: 20px;
            font-family: Trebuchet MS,Verdana,Helvetica,Arial,sans-serif;">
        </div>
        <fieldset id="inputs">
            <div class="control-group" style="border-bottom: 1px solid #fff;">
                <div class="control-label" style="font-family: Trebuchet MS,Verdana,Helvetica,Arial,sans-serif;
                    font-size: 25px">
                    @Html.LabelFor(m => m.UserName)
                </div>
                <div class="controls">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "required", @style = "width:280px", @placeholder = "Student ID or Staff Email" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>
            <div class="control-group" style="border-bottom: 1px solid #fff;">
                <div class="control-label">
                </div>
                <div class="controls">
                   @* @Html.Raw(Html.GenerateCaptcha())*@
                    <input type="submit" value="Continue..." class="btn btn-large btn-custom" style="width: 150px" />
                </div>
            </div>
        </fieldset>
    </div>

}
<script type="text/javascript">

    function OnSuccesslogon(ajaxContext) {

        var response = ajaxContext.rtnmsg; // ajaxContext.get_response();


        if (response == false) {
            $('.rssedReg').empty();
            $('<span class="alert alert-error" style="display: block;font-size: 120%">The User Name  Provided is Incorrect.</br> If you HAVE NOT REGISTERED with the system Please do so. </span>').appendTo('.rssedReg');

        }
        else if (response == "cerr") {
            $('.rssedReg').empty();
            $('<span class="alert alert-error" style="display: block;font-size: 120%">You did not type the verification word correctly. Please try again. </span>').appendTo('.rssedReg');
        }


    }


    function OnFailurelogon(ajaxContext) {
        //               $('#targetDivbcode').empty();

        //               $('<span id="failep" class="alert alert-error" style="display: none; font-size: 120%; background-color: #F2DEDE"><b> An Error Occurred whiles saving. Try Again.</b> </span>').appendTo('.rssedbcode');
        //               $('#targetDivbcode').empty();
    }
</script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
