@model Abeced.UI.Models.ChangePasswordModel
@{
    ViewBag.Title = "Reset Password";
}
<br />
<br />
<br />
<div id="login" class="rounded-corners" style="border: 1px solid #2F5469">
    <div style="text-align: center">
        <h1 style="font-size: 30px; color: #0B4975">
            Reset Your Password </h1>
    </div>
    <fieldset id="inputs" style="text-align: center">
        <p>
            Click @Html.ActionLink("here", "LogOn", "Account") to login with your new password.</p>
            @using (Ajax.BeginForm("PasswordResetConfirm", "Account", new { gid = ViewData["gid"] },
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "targetDivReg",
                OnSuccess = "OnSuccessReg",
                OnFailure = "OnFailureReg",
                InsertionMode = InsertionMode.Replace


            },
            new
            {
                @id = "submitFormPub",
                @class = "form-horizontal"
            }))
            { 

@Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Reset was unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-block alert-error" })
    
    
            <div id="targetDivReg" class="rssedReg" style="padding-right: 20px; padding-left: 20px;
                font-family: Trebuchet MS,Verdana,Helvetica,Arial,sans-serif;">
            </div>
            <div id="sdiv">
            <div class="control-group" style=" border-bottom: 1px solid #fff;">
                <div class="control-label">
                    @Html.LabelFor(m => m.NewPassword)
                </div>
                <div class="controls" style="width:280px;text-align:left">
                    <span style="color: #B94A48">*</span> @Html.PasswordFor(m => m.NewPassword, new { @class = "required" }) 
                     
                    <br />
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
            </div>
            <div class="control-group" style="border-bottom: 1px solid #fff;">
                <div class="control-label">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </div>
                <div class="controls" style="width:280px;text-align:left">
                    <span style="color: #B94A48">*</span> @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "required" })<br />
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
            <div class="control-group" id="regbutton" style="border-bottom: 1px solid #fff;text-align:left">
                <div class="control-label">
                @Html.Hidden("OldPassword", Guid.NewGuid().ToString().Split('-')[0])
                </div>
                <div class="controls">
                    <input type="submit" value="Reset Password" class="btn btn-large btn-custom" style="width: 150px" />
                </div>
            </div>
            </div>
            @*<div class="control-group" style="display: none; border-bottom: 1px solid #fff;"
                id="aftersuccess">
                <div class="control-label">
                </div>
                <div class="controls">
                    @Html.ActionLink("Login", "LogOn", "Account", new { @class = "btn btn-large btn-custom", @style = "width:150px" })
                    <button type="button" class="btn btn-large btn-custom2" id="closeid" style="width: 150px">
                        Close</button>
                </div>
            </div>*@
      
    
   
            }
    </fieldset>
</div>
<style>
    .form-horizontal .control-group
    {
        /*border-bottom: 1px solid #EEEEEE;*/ /*border-top: 1px solid #FFFFFF;*/
        margin-bottom: 0;
    }
    
    #login
    {
        background-color: #fff;
    }
    .rounded-corners
    {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
    }
    h1
    {
        font-family: 'Raleway' , Helvetica, Arial, sans-serif;
        font-size: 40px;
        line-height: 70px;
    }
    
    p
    {
        font-family: 'Goudy Bookletter 1911' , Georgia, Times, serif;
        font-size: 15px;
        line-height: 25px;
    }
    .btn-custom
    {
        background-color: hsl(160, 40%, 66%) !important;
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0f8f6", endColorstr="#85cab3");
        background-image: -khtml-gradient(linear, left top, left bottom, from(#f0f8f6), to(#85cab3));
        background-image: -moz-linear-gradient(top, #f0f8f6, #85cab3);
        background-image: -ms-linear-gradient(top, #f0f8f6, #85cab3);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f8f6), color-stop(100%, #85cab3));
        background-image: -webkit-linear-gradient(top, #f0f8f6, #85cab3);
        background-image: -o-linear-gradient(top, #f0f8f6, #85cab3);
        background-image: linear-gradient(#f0f8f6, #85cab3);
        border-color: #85cab3 #85cab3 hsl(160, 40%, 58.5%);
        color: #333 !important;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.49);
        -webkit-font-smoothing: antialiased;
    }
    
    .btn-custom2
    {
        background-color: hsl(193, 32%, 72%) !important;
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8fafb", endColorstr="#a0c4ce");
        background-image: -khtml-gradient(linear, left top, left bottom, from(#f8fafb), to(#a0c4ce));
        background-image: -moz-linear-gradient(top, #f8fafb, #a0c4ce);
        background-image: -ms-linear-gradient(top, #f8fafb, #a0c4ce);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8fafb), color-stop(100%, #a0c4ce));
        background-image: -webkit-linear-gradient(top, #f8fafb, #a0c4ce);
        background-image: -o-linear-gradient(top, #f8fafb, #a0c4ce);
        background-image: linear-gradient(#f8fafb, #a0c4ce);
        border-color: #a0c4ce #a0c4ce hsl(193, 32%, 65.5%);
        color: #333 !important;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.42);
        -webkit-font-smoothing: antialiased;
    }
</style>

<script type="text/javascript">
    
    function OnSuccessReg(ajaxContext) {
        $('#targetDivReg').empty();

        var savresp = ajaxContext.savans;
        var sdivtag = document.getElementById("sdiv");
        if (savresp == "success") {
            $('.rssedReg').empty();
            $('<span class="alert alert-success" style="display: block;font-size: 120%">A<b> PASSWORD RESET</b> successful </span>').appendTo('.rssedReg');
            sdivtag.style.display = "none";
        }
        else if (savresp == "invaliduser") {
            $('.rssedReg').empty();
            $('<span class="alert alert-error" style="display: block;font-size: 120%"><b> INVALID USER : </b> Your Userid does not exist on the system. </br> Please Contact the Faculty officers.  </span>').appendTo('.rssedReg');

            
        }

        else if (savresp == "cerr") {
            $('.rssedReg').empty();
            $('<span class="alert alert-error" style="display: block;font-size: 120%"><b>You did not type the verification word correctly. Please try again. </span>').appendTo('.rssedReg');
        }
        else {
            $('.rssedReg').empty();
            $('<span class="alert alert-error" style="display: block;font-size: 120%"><b> ERROR : </b> Error Occurred on page. Please see the Faculty officers.  </span>').appendTo('.rssedReg');
        }

    }
    function OnFailureReg(ajaxContext) {
        $('.rssedReg').empty();
        $('<span class="alert alert-error" style="display: block;font-size: 120%"><b> ERROR : </b> Error Occurred on page. Please see the Faculty officers.  </span>').appendTo('.rssedReg');
    }

</script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
