@model Abeced.UI.Models.RegisterModel
@{ Layout = Url.Content("../Shared/_LayoutSign.cshtml");}
@{
    ViewBag.Title = "Register";
    
}

<div class="row">
            <div class="span12 header">
                <h4 style="margin-bottom: 5px">
                    Create your account</h4>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <div class="span12 footer">
                    <table cellspacing="10px" cellpadding="10px" width="800px" style="color:White">
                        <tr>
                            <td class="text-right" > Last Name </td>                    
                            <td>@Html.TextBoxFor(m => m.LastName, new { placeholder = "Last Name" }) </td>
                            
                            <td class="text-right">First Name</td>
                            <td> @Html.TextBoxFor(m => m.FirstName, new { placeholder = "First Name" })</td>
                            
                        </tr>
                        <tr>
                            <td class="text-right"> Title </td>                    
                            <td>@Html.TextBoxFor(m => m.Title, new { placeholder = "Title" }) </td>
                            
                            <td class="text-right">Email</td>
                            <td>@Html.TextBoxFor(m => m.Email, new { placeholder = "Email" }) </td>
                            
                        </tr>
                        <tr>
                            <td class="text-right"> Age Group </td>                    
                            <td> @Html.DropDownListFor(m=>m.AgeGroup, new List<SelectListItem>
                                {
                                  new SelectListItem{ Text = "Under 13 yrs", Value = "Under 13" },
                                  new SelectListItem{ Text = "13 - 19 yrs", Value = "13 - 19" },
                                  new SelectListItem{ Text = "20 - 30 yrs", Value = "20 - 30" },
                                  new SelectListItem{ Text = "31 - 40 yrs", Value = "41 - 50" },
                                  new SelectListItem{ Text = "41 - 50 yrs", Value = "41 - 50" },
                                  new SelectListItem{ Text = "51 - 60 yrs", Value = "51 - 60" },
                                  new SelectListItem{ Text = "61 - 70 yrs", Value = "61 - 70" },
                                  new SelectListItem{ Text = "Over 70", Value = "Over 70" } 
                                }, "Age Group")</td>
                            
                            <td class="text-right">Gender</td>
                            <td>
                                @Html.DropDownListFor(m=>m.Sex, new List<SelectListItem>
                                {
                                  new SelectListItem{ Text = "Male", Value = "Male" },
                                  new SelectListItem{ Text = "Female", Value = "Female" } 
                                }, "Gender")
                             </td>
                            
                        </tr>
                            <tr>
                            <td class="text-right"> Occupation </td>                    
                            <td>@Html.TextBoxFor(m => m.Occupation, new { placeholder = "Occupation" }) </td>
                            
                            <td class="text-right">Educational Level</td>
                            <td>@Html.DropDownListFor(m=>m.EducLevel, new List<SelectListItem>
                                {
                                  new SelectListItem{ Text = "Primary", Value = "Primary" },
                                  new SelectListItem{ Text = "Secondary", Value = "Secondary" }, 
                                  new SelectListItem{ Text = "Graduate", Value = "Graduate" }, 
                                  new SelectListItem{ Text = "Postgraduate", Value = "Postgraduate" }, 
                                }, "Educational Level")
                                
                               @* @Html.TextBoxFor(m => m.EducLevel, new { placeholder = "Educational Level" })*@ </td>
                            
                        </tr>

                        <tr>
                        
                            <td colspan="4" class="text-right"> <hr  style="margin:2px"/></td>  
                            
                        </tr>
                        <tr>
                            <td class="text-right"> &nbsp;&nbsp;</td>                    
                            <td>@Html.TextBoxFor(m => m.UserName, new { placeholder = "Username" })</td>
                            
                            <td class="text-right"> &nbsp;&nbsp;</td>
                            <td></td>
                            
                        </tr>
                        <tr>
                            <td class="text-right"> &nbsp;&nbsp;</td>                    
                            <td>@Html.PasswordFor(m => m.Password, new { placeholder = "Password" })</td>
                            
                            <td class="text-right"> &nbsp;&nbsp;</td>
                            <td>@Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password" }) </td>
                            
                        </tr>

                        <tr>
                        <td class="text-right"></td>
                            <td> <input type="submit" value="sign up" /> </td>  
                            
                            <td colspan="2" class="text-right"> &nbsp;&nbsp;</td>  
                            
                        </tr>

                    </table>
                    
                    
                    
                    
                </div>


                <!-- <div class="span5 remember">
                    <label class="checkbox">
                        <input type="checkbox"> Remember me
                    </label>
                    <a href="#">Forgot password?</a>
                </div> -->


                <div class="span12 dosnt">
                    <span>Already have an account?</span> <a href="@Url.Content("~/Account/Login")">Sign in</a>
                </div>
            
        
    
            }
        </div>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
