@model Abeced.UI.Models.CategoryListModel
@using Kendo.Mvc.UI
@{
    //ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

@section featured
{

<div class="row">
	
	
	<div class="col-sm-3">
	
		<div class="tile-stats tile-green">
			<div class="icon"><i class="entypo-chart-bar"></i></div>
			<div class="num" data-start="0" data-end="@Model.RevisionCount" data-postfix="" data-duration="1500" data-delay="600">0</div>
			
			<h3>Pending Revisions</h3>
			<p>the number of pending revisons for your profile.</p>
		</div>
		
	</div>
	
	<div class="col-sm-3">
	
		<div class="tile-stats tile-aqua">
			<div class="icon"><i class="entypo-hourglass"></i></div>
			<div class="num" data-start="0" data-end="@Model.PendingSessonCount" data-postfix="" data-duration="1500" data-delay="1200">0</div>
			
			<h3>Uncompleted Session(s)</h3>
			<p>your sessions pending final completion.</p>
		</div>
		
	</div>
	
	<div class="col-sm-3">
	
		<div class="tile-stats tile-blue">
			<div class="icon"><i class="entypo-rss"></i></div>
			<div class="num" data-start="0" data-end="@Model.MyCardCount" data-postfix="" data-duration="1500" data-delay="1800">0</div>
			
			<h3>Flash Cards Contributed</h3>
			<p>cards you have contributed as at now.</p>
		</div>
		
	</div>

    <div class="col-sm-3">

        <div class="tile-stats tile-aqua">
            <div class="icon"><i class="entypo-mail"></i></div>
            <div data-delay="1200" data-duration="1500" data-postfix="" data-end="23" data-start="0" class="num">23</div>

            <h3>New Messages</h3>
            <p>messages per day.</p>
        </div>

    </div>
</div>
    }
<br />
<div align="center" style="font-size: 150%; color: #767d81;  width:80%;  margin-left: 0px; margin-bottom: 0px; padding-bottom: 0px">
    <span style="color:#2c7ea1">SELECT THE SUBJECT AREA TO PROCEED... </span>
    <hr style="border-color: #a1a3a4; width: 100%; margin-left: 0px; margin-right: 10%; margin-bottom: 0px; padding-bottom: 0px; margin-top:2px" />
</div>
@{
    IList<Abeced.UI.Models.CategoryModel> catm = Abeced.UI.Controllers.FlashController.GetCat().ToList();
}

<table cellpadding="8" cellspacing="8" align="center" width="80%" style="margin-left: 1%">
    <tr>
        <td style="border-right-style: solid; border-color: #a1a3a4; border-width: thin; width: 20%">
            <table cellpadding="10" cellspacing="10" align="left">
                @{
                    var mcolor = "#a1a3a4";
                    foreach (var item in catm)
                    {
                    <tr>
                        <td>
                            @{ 
                        if (item.CatId == Model.McatId)
                        { mcolor = "#252528"; }
                        else
                        { mcolor = "#a1a3a4"; }
                            }
                            <a  href="@Url.Content("~/Flash/Topics/?cid=" + item.CatId)" 
               style="color:@mcolor" ><b>@item.CategoryTitle</b></a>

                            <input type="hidden" name="item.CatId" value='@item.CatId'/>
                        </td>

                    </tr>
                    }
                }
            </table>
        </td>
        <td style="width: 80%; vertical-align:top">
            <div style ="text-align:left">
            <table cellpadding="5" cellspacing="5" align="left" width="100%" style="margin-left: 5%">
                @{
                    var i = 0;
                    for (int cc = 0; cc < Model.Categories.Count() / 4; cc++)
                    {
                    <tr>
                        @{
                        for (int k = 0; k < 4; k++)
                        {
                            <td style="width:25%">
                                <a  href="@Url.Content("~/Flash/Card/?cid=" + Model.Categories[i].CatId + "&sub=" + Model.Categories[i].CategoryTitle)" ><b>@Model.Categories[i].CategoryTitle</b></a>
                                <input type="hidden" name="Categories[@i].CatId" value='@Model.Categories[i].CatId'/>
                            </td>
                            i++;

                        }
                        }
                    </tr>
                    }
                    if (Model.Categories.Count() % 4 != 0)
                    {
                    <tr>
                        @{
                        for (int k = i; k < Model.Categories.Count(); k++)
                        {
                            <td>

                                <a  href="@Url.Content("~/Flash/Card/?cid=" + Model.Categories[i].CatId + "&sub=" + Model.Categories[i].CategoryTitle)" ><b>@Model.Categories[i].CategoryTitle</b></a>
                                <input type="hidden" name="Categories[@i].CatId" value='@Model.Categories[i].CatId'/>
                            </td>
                        }
                        }
                    </tr>
                    }
                }
            </table>

            @*<table cellpadding="5" cellspacing="5" width="90%">
    @{
      
        for (int cc = 0; cc < Model.Categories.Count(); cc++)
        {
        <tr>
            <td >
                
                <a  href="@Url.Content("~/Flash/Card/?cid=" + Model.Categories[cc].CatId + "&sub=" + Model.Categories[cc].CategoryTitle)" ><b>@Model.Categories[cc].CategoryTitle</b></a>
                <input type="hidden" name="Categories[@cc].CatId" value='@Model.Categories[cc].CatId'/>
            </td>

            <td >
                
                <a href="#" ><b>@Model.Categories[cc].CategoryTitle</b></a>
                <input type="hidden" name="Categories[@cc].CatId" value='@Model.Categories[cc].CatId'/>
            </td>

            <td >
                
                <a href="#" ><b>@Model.Categories[cc].CategoryTitle</b></a>
                <input type="hidden" name="Categories[@cc].CatId" value='@Model.Categories[cc].CatId'/>
            </td>

            <td >
                
                <a href="#" ><b>@Model.Categories[cc].CategoryTitle</b></a>
                <input type="hidden" name="Categories[@cc].CatId" value='@Model.Categories[cc].CatId'/>
            </td>


        </tr>
        }
    }</table>*@
           </div></td>

    </tr>
</table>
@*<script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>*@
